---
export interface Props {
  btn1: any;
  btn1Link: string;
}

const { btn1, btn1Link } = Astro.props as Props;
---

<div class="mt-3">
  <div id="btn-container" class="bg- flex items-center space-x-3">
    <button
      id="dynamic-btn"
      class="opacity-85 hover:opacity-100 sq-styles bg-munsell text-white"
    >
      <a href={btn1Link}>{btn1}</a>
    </button>
    <button
      id="contact-btn"
      class="bg-test2 opacity-85 hover:opacity-100 sq-styles"
    >
      <a href="/#contact">contact</a>
    </button>
  </div>
</div>
