---
export interface Props {
  BannerTitle: string;
  BannerParagraph: string;
}

const { BannerTitle, BannerParagraph } = Astro.props as Props;
---

<div class="pl-[50px]">
  <div id="" class="bg-purple- ml-5 pt-5 mt-5">
    <div class="py-2 mt-[155px] 2xl:p-0 p-5">
      <h1
        class="2xl:text-5xl md:text-4xl text-3xl pb-2 pt-2 font-bold uppercase"
      >
        {BannerTitle}
      </h1>
      <p class="pl-2">
        {BannerParagraph}
      </p>
    </div>
  </div>
</div>
