---
const frontmatter = Astro.props;
const { no, image, alt, url } = frontmatter;
---

<!-- PORTFIOLIO/ PACKAGES --><!-- SMOOTH TRANSITION BETWEEN KITS, PUP TO CARNIVORE, TO ALPHA  -->
<div id="CARD" class="bg- py-5 opacity-80">
  <div class="bg- pt-1 pr-l">
    <h3 class="text-xl">{no}.</h3>
  </div>

  <div class="">
    <div id="sq1" class="2xl:col-span-4">
      <a href={url}>
        <img
          src={image}
          class="opacity-90 hover:opacity-100 duration-500 mt-1 mr-5 p-1 rounded border bg-[#f9f9f9] border-rosyBrown hover:border-cerulean drop-shadow-xl hover:drop-shadow-3xl"
          alt={alt}
        />
        <div
          id="container"
          class="pl-2 opacity-60 hover:opacity-100 duration-500"
        >
          <span class="text-sm">01. </span>
          <h3 class="text-lg">The Growing Pup</h3>
          <p class="text-sm">
            This is the The Growing Pup kit. Brochure hands off site w/ monthly
            updates.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
