---
import AboutContent from "../../shared/AboutContent.astro";
import ButtonProps from "../../shared/ButtonProps.astro";
---

<!-- - 

<!-- !ATTENTION AND INTEREST V -->
<div id="wrapper" class="bg-">
  <div id="web-dev-intro2" class="bg- mt-5 pt-5">
    <AboutContent
      title="So why Laughing Coyote?"
      paragraph1="Coyotes are scrappy, clever, and resourceful—and Laughing Coyote Dev reflects that spirit. It’s not a generic dev name; it carries personality, warmth, and a bit of mischief. "
      paragraph2="That’s what allows me to build websites that feel human, approachable, and slightly unconventional—without losing professionalism."
      paragraph3="And for many small businesses, that kind of approach matters—because building a website is often where things start to feel overwhelming."
      paragraph4="Here’s how I can help you do the same:"
      img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
    />
  </div>

  <!-- !DESIRE AND ACTION V -->
  <div id="Test">
    <AboutContent
      title="ADDRESS KEY PROBLEM"
      paragraph1="Do you have DIY burnout? Are you stuck trying to build your website without a clear plan?"
      paragraph2="You have something “good enough,” but you’re not proud to send people to it. You know you’re capable of more, but your website doesn’t reflect that. When someone asks for your link, you hesitate—because it doesn’t feel like you yet."
      paragraph3="Here’s how I can help you do the same: I build you a clear, intentional site that reflects your work — so you can finally send your link with confidence. Most templates aren’t built around your business—they force you to fit into them. That’s where things start to feel frustrating."
      paragraph4=" Here’s what that process looks like in practice:"
      img="https://images.pexels.com/photos/3585001/pexels-photo-3585001.jpeg?_gl=1*sm8kor*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzQxMzczNTMkbzQyJGcxJHQxNzc0MTM3MzY4JGo0NSRsMCRoMA.."
    />
    <div class="flex justify-end items-center pb-[55px] w-1/2">
      <p class="pt-3 pr-2 text-teal-700 font-bold"></p>
      <!-- <ButtonProps btn1="view case study" btn1Link="/" /> -->
    </div>
  </div>
</div>
