---
import SplitShowCase from "../../SplitShowCase.astro";
---

<section
  id="buildAuthority-wrapper"
  class="flex justify-center md:mx-5 mt-5 2xl:px-5 bg-"
>
  <div id="container" class="px-5 w-full">
    <SplitShowCase
      title="Pain Points to Address:"
      paragraph1="ADDRESS KEY PROBLEM: Do you have DIY burnout? Are you stuck trying to build your website without a clear plan? "
      paragraph2="You have something “good enough,” but you’re not proud to send people to it. "
      paragraph3="You know you’re capable of more, but your website doesn’t reflect that. When someone asks for your link, you hesitate—because it doesn’t feel like you yet. "
      paragraph4=" "
    />
  </div>
</section>
<!-- <p>
  I can relate to that... That’s what allows me to build websites that feel
  human, approachable, and slightly unconventional—without losing
  professionalism.
</p> -->
