---

---

<section
  id="hero-section"
  class="bg- flex justify-center items-center mt-[230px] bg-"
>
  <div id="hero-container" class="text-center 2xl:w-3/4">
    <div class="text-2xl">
      <h1 id="hero-title" class="md:text-3xl text-md opacity-80">
        Laughing Coyote Dev <!-- what is it? -->
      </h1>

      <div id="content-container" class="2xl:mx-5 md:mx-[150px] mx-5">
        <p
          id="hero description"
          class="font-bold 2xl:text-6xl md:text-3xl text-xl md:my-5 my-3"
        >
          A small, independent web design studio focused on warm, human-centered
          websites....<!-- who is it for? -->
        </p>
        <div class="flex justify-center">
          <p class="max-w-[800px] md:text-3xl text-md text text-">
            Websites for small businesses who hate tech 💻 <!-- how will it make your life better? -->
            <button
              class="text-complimentryTextColor bg-primaryBtn sq-styles hover:lavender hover:text- md:mt-1"
              ><a class="" href="/#packages">
                <span class="">
                  <!-- what do you want me to do? -->see packages
                </span>
              </a></button
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
