---

---

<section
  id="hero-section"
  class="text-carribean flex justify-center items-center mt-[230px]"
>
  <div
    id="hero-container"
    class="text-center mb-[100px] 2xl:mt-[270px] mt-[180px]"
  >
    <div class="text-2xl">
      <h1 id="hero-title" class="md:text-4xl text-md opacity-80">
        Laughing Coyote Dev <!-- what is it? -->
      </h1>

      <div id="content-container" class="2xl:mx-5 md:mx-[150px] mx-5">
        <p
          id="hero description"
          class="font-bold 2xl:text-6xl md:text-3xl text-xl md:my-5 my-3"
        >
          A subscription website service for busy small-businesses owners...<!-- who is it for? -->
        </p>
        <div class="flex justify-center">
          <p class="max-w-[800px] md:text-3xl text-md text text-carribean">
            with a desire to reach new customers online and grow your business.<!-- how will it make your life better? -->
            <button class="underline hover:lavender hover:text-cerulean md:mt-1"
              ><a class="" href="/#packages">
                <span class="pr-2">
                  <!-- what do you want me to do? -->see packages
                </span>
                💻
              </a></button
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
