---
import Hero from "./Hero.astro";
import creativeProjectAbout from "../../shared/creativeProjectAbout.astro";
import BuildAuthority from "./BuildAuthority.astro";
import AddressKeyProblem from "./AddressKeyProblem.astro";
---

<div id="FunnelBlock" class="bg-">
  <Hero />
  <BuildAuthority />
  <AddressKeyProblem />
</div>
