---
import Hero from "./Hero.astro";
import BuildAuthority from "./BuildAuthority.astro";
import AddressKeyProblem from "./AddressKeyProblem.astro";
import WhatsIncluded from "./WhatsIncluded.astro";
---

<!-- ! THIS SHOULD BE PART OF YOUR STANDARDIZED SANDBOX ! -->
<section id="1-funnel">
  <Hero />
  <!-- v -->
  <!-- There are _a lot_ of devs who say: -->
  <!-- - fast -->
  <!-- - modern -->
  <!-- - responsive -->
  <!-- - SEO -->
  <!-- Clients don’t understand those—they understand **frustration and outcomes**. -->
  <!-- ^ -->

  <BuildAuthority />
  <AddressKeyProblem />
  <WhatsIncluded />
</section>
