html {
  background: #f0ead2;
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: #32292F;
  opacity: 95%;
  font-optical-sizing: auto;
}

* {   
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x:hidden */
}

p {
  font-size: 18px;  
}
 
section {
  /* @apply py-20 md:py-28; */
}

.sq-styles {
  border: 1px solid #15616D;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.btn-styles {
 padding: 0px 5px 0px 5px;
 font-size: 15px;
 margin-top: 15px;
 /* margin-left: 5px; */
 border-radius: 5px;
 border: 1px solid #313638;
}
 
 
/* src/styles/global.css */

.horizontal-scroll {
  scroll-snap-type: x proximity;
  scrollbar-width: thin;
}

.horizontal-scroll > * > article {
  scroll-snap-align: start;
}





/* *GALLERY STYLES */
.container {
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
}

.container .box {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.container .box img{
    max-width: 100%;
}

/*  1200px mobile */
@media (max-width: 1200px)
 {
    .container {
        width:calc(100% - 40px);
        columns: 3;
    }
}


/*  768px mobile */
@media (max-width: 768px)
 {
    .container {
        columns: 2;
    }
}

/*  480px mobile */
@media (max-width: 480px)
 {
    .container {
        columns: 1;
    }
}




/*   HERO SECTION V*/
 #hero {
 }

#hero #flex {
  
  @media (max-width: 1024px)
 {
    flex-direction: column;
  }
}

 


/* ABOUT SECTION v*/

 #about #flex {
  flex-direction: row-reverse;  
  /* background: blue; */
 }

@media (max-width: 1024px) {

  #about #flex {
  flex-direction: column;
  }
}






 #about #img1 {
    transform: scaleX(-1);
 }


 

 /* * PORTFOLIO SECTION  --V*/  
  #about-LC #img2{
     transform: scaleX(-1);
  }

#about-LC #flex {
  flex-direction: row-reverse;
}



@media (max-width: 1024px)
 {
#about-LC #flex {
  flex-direction: column-reverse;
}
 }


#about-LC #sq1 {
  transform: scaleX(-1);
}

 




#about-LC  #other{
  background: maroon;
   transform: scaleX(-1);

}



 /* * PORTFOLIO SECTION  --^*/






#wtbh #flex{
     flex-direction: row-reverse;
     /* background: green; */
}






@media (max-width: 1024px) {
#wtbh #flex{
   flex-direction: column-reverse;
}
 }



 
#about #other {
  margin: 5px;
    padding: 5px
}

#about #screenshot {
  border: #15616D solid 1px;
  margin-bottom: 50px;
  
}



#about-rq  #flex  {
  /* background: purple; */
  flex-direction: row;
  

}


#about-rq  #flex  {
  @media (max-width: 1024px)
  {
    flex-direction: column;
  }
}


#about-rq #dynamic-btn {
    color: black;
  background: #f1f5f9;
  border: none;
  font-weight: 800;
  text-decoration: underline;
}


#about-rq #contact-btn {
    background-color:  #313638;
   font-size: 34px;
     background: #f1f5f9;
       border: none;
}

 

/* JUNGLE --V */
#about-jungle  #about-content   {
  /* background: green; */
}

#about-jungle  #screenshot  {
  /* border: #15616D solid 1px;
  border-radius: 15px; */
}
 


#about-LC #dynamic-btn {
  color: #FFECD1;
  background: #15616D;
} 



#about-LC #contact-btn {
   font-size: 34px;
     color: black;
  background: #007ba5;
} 


#about-rq #dynamic-btn {
  color: #FFECD1;
  background: #15616D;
  text-decoration: none;
} 


#about-rq #contact-btn {
   font-size: 34px;
     color: black;
  background: #B18D9B;
} 

#web-dev-intro2  #flex-TEST {
  flex-direction: row-reverse;
    @media (max-width: 600px) {
      flex-direction: column-reverse;
    }
}



#header #nav-items {
  /* padding: 0 45px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: blue; */
  
  
  @media (max-width: 1040px) {
   /* flex-direction: column; */
   /* padding: 0; */
     /* align-items: flex-start; */
  }
}


#footer #nav-items {
  /* background: lightgreen; */
  display: flex;
 
}


.box {
}

#TestImg {
  border-radius: 5px;
   border: 1px solid #313638;
}

#TestBtn {
  border-radius: 5px;
}
 

/* TEST ABOUT CONTENT COLORS */
/* 
#rq  #paragraph-container {
  background: #15616D;
  color: #7FFFD4;
  border-radius: 5px;
}
#roof  #paragraph-container {
  background: #15616D;
  color: #7FFFD4;
    border-radius: 5px;
} */