---
import AboutContent from "../shared/AboutContent.astro";
---

<p class="text-2xl p-5 opacity-75 hover:opacity-100">
  * see how I work-
  <a href="/web-development/#ANCHOR">
    <span class="text-xl">
      Link CTA to web-development page /web design packages{" --->"}</span
    ></a
  >
</p>
<div id="about-me-blurb">
  <AboutContent
    title="About me blurb"
    paragraph1="HoveyRoofing"
    paragraph2=" 'Laughing Coyote Dev is really great! Elsa Hovey is super awesome with web designing!'"
    paragraph3=""
    paragraph4=""
    img="https://dl.dropboxusercontent.com/scl/fi/phq735ow5p9eqhrbfemme/eh-img.jpg?rlkey=cc6j3utq3lh9fayc1pbais1pe&st=hany5azk&dl=0"
  />
</div>

<div id="web-dev-intro2">
  <AboutContent
    title="Contact Blurb:"
    paragraph1="You can reach me by emailing:"
    paragraph2=" elsahvy@gmail.com"
    paragraph3="I am always looking for opportunities to further my skills... and to work with other like-minded people in tech."
    paragraph4="Email is the best way to get in touch, you can also find me at instagram and linkedIn."
    img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
  />
</div>
