---
import AboutContent from "../shared/AboutContent.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

<div id="web-development" class="">
  <CenterPageBanner BannerTitle="START HERE" />
  <div id="web-dev-intro1">
    <AboutContent
      title="ADDRESS KEY PROBLEM"
      paragraph1="Pain Points to Address- You’re struggling to get [desirable result] because you don't have [missing piece]"
      paragraph2="You have [example], but you aren't [achieving this result]"
      paragraph3="How does this make them feel?"
      paragraph4="Have you been in the same situation? How to overcome this? How can you help them do the same? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt accusantindae quo adipisci dignissimos! Pariatur, suscipit exercitationem."
      img="https://images.pexels.com/photos/3585001/pexels-photo-3585001.jpeg?_gl=1*sm8kor*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzQxMzczNTMkbzQyJGcxJHQxNzc0MTM3MzY4JGo0NSRsMCRoMA.."
    />
  </div>
  <div id="web-dev-intro2" class="bg-">
    <!-- TODO: NEW AIDA vv -->
    <AboutContent
      title="NEW AIDA- attentionHeading"
      paragraph1="interestParagraph"
      paragraph2="interestParagraph"
      paragraph3="desireParagraph"
      paragraph4="desireParagraph"
      img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
    />
  </div>
</div>
