---
import AboutContent from "../shared/AboutContent.astro";
---

<!-- TODO: TURN TEAL IMGS INTO IMGS/ EXAMPLES --><!-- HOW LC HELPS BRING YOUR BUSINESS ONLINE -->
<section id="whats-included" class="bg-">
  <div id="web-dev-intro1" class="bg-">
    <AboutContent
      title="HOW LC HELPS BRING YOUR BUSINESS ONLINE: Here's what's Included:"
      paragraph1="Most small business websites don’t fail because of effort— they fail because they’re built on shaky ground."
      paragraph2="Slow load times. Clunky templates. Hours spent tweaking things that never quite feel right."
      paragraph3="Laughing Coyote is built to fix that—clean, fast, and intentional from the start."
      paragraph4="click on CTA link to see packages, and bring your business online"
      img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
    />
  </div>
</section>
