---
import AboutContent from "../shared/AboutContent.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

<div class="border-b border-t pt-3 pb-2 border-carribean">
  <h2 class="pl-1 text-4xl font-">Whats Included</h2>
  <p class="pl-5 pt-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, praesentium
    aspernatur adipisci quam veritatis saepe eligendi eius sapiente! Autem
    nostrum, optio ullam culpa voluptate consectetur odit aperiam asperiores ad
    veniam.
  </p>
</div>
<div id="whats" class="bg-">
  <div id="web-dev-intro1">
    <AboutContent
      title="Address Key Problem"
      paragraph1="Pain Points to Address- You’re struggling to get [desirable result] because you don't have [missing piece]"
      paragraph2="You have [example], but you aren't [achieving this result]"
      paragraph3="How does this make them feel?"
      paragraph4="Have you been in the same situation? How to overcome this? How can you help them do the same? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt accusantindae quo adipisci dignissimos! Pariatur, suscipit exercitationem."
      img="https://images.pexels.com/photos/3585001/pexels-photo-3585001.jpeg?_gl=1*sm8kor*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzQxMzczNTMkbzQyJGcxJHQxNzc0MTM3MzY4JGo0NSRsMCRoMA.."
    />
  </div>
  <div id="web-dev-intro2" class="bg-">
    <!-- global css. row-reverse vv -->
    <AboutContent
      title="web dev- ATTENTION, problem "
      paragraph1="INTEREST, highlight risk"
      paragraph2="DESIRE, set a plan"
      paragraph3="ACTION, positive outcome achieved"
      paragraph4="undecided- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, quos esse! Veritatis, iure incidunt aspernatur inventore aut adipisci ea repudiandae eaque  "
      img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
    />
  </div>
</div>
