---
import AboutContent from "../shared/AboutContent.astro";
---

<div id="web-dev-intro1" class="bg-">
  <!-- !: NEW WHATS INCLUDED SECTION vv -->
  <!-- TODO:  vv -->
  <AboutContent
    title="Here's what's Included:"
    paragraph1="web design- unique designs Mobile responsiveness"
    paragraph2=" web development- blog set up, custom JS"
    paragraph3="copywriting seo"
    paragraph4="bring your business online"
    img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
  />

  <!-- !: ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
</div>
