---
import AboutCTA from "../sections/AboutCTA.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

<section id="contact-block" class="">
  <div id="contact">
    <CenterPageBanner BannerTitle="Contact" BannerParagraph="" />
    <AboutCTA />
  </div>
</section>
