---

---

<section
  id="hero-section"
  class="pb-5 mb-5 flex justify-center items-center mt-[230px] bg-"
>
  <div id="hero-container" class="text-center bg- 2xl:w-3/4 w-full">
    <div class="text-2xl">
      <h1 id="hero-title" class="md:text-3xl text-md opacity-80">
        Laughing Coyote Dev <!-- what is it? -->
      </h1>

      <div id="content-container" class="2xl:mx-5 lg:mx-[150px] mx-1">
        <p
          id="hero description"
          class="font-bold 2xl:text-6xl md:text-3xl text-xl md:my-5 my-3"
        >
          A small, independent web design studio focused on warm, human-centered
          websites....<!-- who is it for? -->
        </p>
        <div class="flex justify-center">
          <p class="max-w-[800px] xl:text-3xl text-md text text-">
            Websites for small businesses who hate tech 💻 <!-- how will it make your life better? -->
            <button
              class="mt-5 text-complimentryTextColor bg-primaryBtn px-2 py-1 border border-black rounded-md"
              ><a class="" href="/#packages">
                <span class="lg:text-2xl text-lg">
                  <!-- what do you want me to do? -->get in touch
                </span>
              </a></button
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
