---
import RoofTestimonial from "./aboutBlock/RoofTestimonial.astro";
import RQTestimonial from "./aboutBlock/RQTestimonial.astro";
---

<div
  id="testimonials-wrapper"
  class="bg-test1 flex justify-center items-center my-5 py-5 xl:mx-[50px] -0"
>
  <div id="testimonials-container" class="bg-test2 py-5 my-5 2xl:w-1/2 w-full">
    <RoofTestimonial />
    <RQTestimonial />
  </div>
</div>
