---
import MainLayout from "../layouts/MainLayout.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import ContactBlock from "../components/blocks/ContactBlock.astro";
import SalesPtBlock from "../components/blocks/salesPtBlock/index.astro";
import FunnelBlock from "../components/blocks/funnelBlock/index.astro";
import AboutBlock from "../components/blocks/aboutBlock/index.astro";
import ProjectCard from "../components/shared/ProjectCard.astro";
const allCreativeProjects = await Astro.glob("./creativeProjects/*.md");
---

<MainLayout>
  <FunnelBlock />
  <AboutBlock />

  <section
    id="ContentBlock"
    class="bg-websiteFocus text-complimentryTextColor border-y-2 border-black"
  >
    <div id="creative-works" class="text-">
      <CenterPageBanner
        BannerTitle="Creative Works"
        BannerParagraph="Real sites, experiments, and visual directions"
      />
      <div id="grid" class="grid md:grid-cols-2 grid-cols-1">
        {
          allCreativeProjects.map((creativeProject: any) => (
            <ProjectCard
              creativeProjectTitle={
                creativeProject.frontmatter.creativeProjectTitle
              }
              creativeProjectMainImg={
                creativeProject.frontmatter.creativeProjectMainImg.url
              }
              url={creativeProject.url}
              testItem1={creativeProject.frontmatter.testItem1}
              websiteNumber={creativeProject.frontmatter.websiteNumber}
            />
          ))
        }
      </div>
    </div>
  </section>
  <SalesPtBlock />
  <ContactBlock />
</MainLayout>
