---

---

<!--!SAVE FOR MORE COMPLICATED, JS BRANCH!  V--><!-- <ul>
  <li>Laughing Coyote Dev</li>
  <li>The Running Quail</li>
  <li>Writing to Better Health</li>
  <li>THe Indoor Jungle Project</li>
</ul> --><!--!SAVE FOR MORE COMPLICATED, JS BRANCH!  -->
<div id="" class="p-5 m-5">
  <!-- <CenterPageBanner BannerTitle="Web Development" /> -->
  <div class="container">
    <div id="sq1" class="box">
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/oraxtrdwq2apy6x4f87xj/fish-screenshot.jpg?rlkey=8woeczr9d8n7gqpqfbbnayb9e&st=gbvhsbzb&dl=0"
        id="TestImg"
      />
    </div>
    <div id="sq2" class="box">
      <!-- Laughing Coyote Dev -->
      <div id="btn-wrapper" class="bg- flex justify-end my-2">
        <button id="TestBtn" class="bg-primaryBtn text- px-2 my-3">
          <a href="/websites/laughing-coyote-dev"> Laughing Coyote Dev </a>
        </button>
      </div>
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/qyv5ljfyiueutf03j8df5/lc-10-18-23.png?rlkey=ikcai42jknyzhw31tbcmtizkw&st=3mykwpp5&dl=0 "
        id="TestImg"
      />
    </div>

    <div id="sq3" class="box">
      <!-- Laughing Coyote Dev -->
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/0kaamz8nlz7q1mlzkbjr2/doublepanel-screenshot.jpg?rlkey=zq5l55wn183j3v1220u0qubz7&st=zgsohzwp&dl=0"
        id="TestImg"
      />
    </div>
    <div id="sq4" class="box">
      <!-- RQ-2 -->
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/79o1xauq8q67aqyuve8nz/jake10.jpg?rlkey=sbgww46ujx3223asi0k9pk78n&st=ou0sqxc2&dl=0"
        id="TestImg"
      />
    </div>
    <div id="sq5" class="box">
      <!-- Laughing Coyote Dev -->
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/70vb22ili62cxkbtgvfh3/jake23.jpg?rlkey=sa19u5pn1dz8y2t0j6qhd66s7&st=071h6k27&dl=0"
        id="TestImg"
      />
    </div>
    <div id="sq6" class="box">
      <!-- RQ-2 -->
      <img
        src=" https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=wnu1qbwb&dl=0"
        id="TestImg"
      />
    </div>

    <div id="btn-wrapper" class="my-2">
      <button id="TestBtn" class="bg-orange text- px-">
        <a href="/websites/the-running-quail">The Running Quail</a>
      </button>
    </div>
    <div id="sq7" class="box">
      <!-- RQ-2 -->
      <img
        src="https://images.pexels.com/photos/16604126/pexels-photo-16604126/free-photo-of-seals-with-opened-muzzle.jpeg?auto=compress&cs=tinysrgb&w=1600"
        id="TestImg"
      />
    </div>
    <div id="sq8" class="box">
      <!-- WTBH-3 -->
      <img
        src="https://images.pexels.com/photos/4321815/pexels-photo-4321815.jpeg?auto=compress&cs=tinysrgb&w=1600"
        id="TestImg"
      />
    </div>
    <div id="sq9" class="box">
      <!-- WTBH-3 -->
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/g6546jcl9wzdv0elex74z/jtphoto7.jpg?rlkey=9fq6nh44gop6r8rwhy50bjd44&st=n0gk8vup&dl=0"
        id="TestImg"
      />
    </div>

    <div id="sq10" class="box">
      <!-- Jungle-4 -->
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/g6546jcl9wzdv0elex74z/jtphoto7.jpg?rlkey=9fq6nh44gop6r8rwhy50bjd44&st=n0gk8vup&dl=0"
        id="TestImg"
      />
    </div>

    <div id="sq11" class="box">
      <!-- WTBH-3 -->
      <img
        src="https://images.pexels.com/photos/4321407/pexels-photo-4321407.jpeg?auto=compress&cs=tinysrgb&w=1600"
        id="TestImg"
      />
    </div>

    <div id="btn-wrapper" class="flex justify- my-2">
      <button id="TestBtn" class="bg-complimentryTextColor text- px-2 my-3">
        <a href="/websites/writing-to-better-health"
          >Writing to Better Health
        </a>
      </button>
    </div>
    <div id="sq12" class="box">
      <!-- WTBH-3 -->
      <img
        src="https://images.pexels.com/photos/9085057/pexels-photo-9085057.jpeg?auto=compress&cs=tinysrgb&w=1600"
        id="TestImg"
      />
    </div>

    <div id="btn-wrapper" class="flex justify- my-2">
      <button id="TestBtn" class="bg-emerald-400 text- black px-2 my-3">
        <a href="/websites/the-indoor-jungle-project"
          >The Indoor Jungle Project</a
        >
      </button>
    </div>

    <div id="sq13" class="box">
      <!-- Jungle-4 -->
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/3jtfnbqyqk5ly03x5kspuz/wtbh-3-26-24.png?rlkey=0igc90thtm07w1i9cardfeu3h&st=ahfpvhl9&dl=0"
        id="TestImg"
      />
    </div>
    <div id="sq14" class="box">
      <!-- Jungle-4 -->
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/3jtfnbqyqk5ly03x5kspuz/wtbh-3-26-24.png?rlkey=0igc90thtm07w1i9cardfeu3h&st=ahfpvhl9&dl=0"
        id="TestImg"
      />
    </div>
  </div>
</div>
