---
import DynamicGrid from "../../shared/DynamicGrid.astro";

const items4 = [
  {
    title: "1. ONBOARDING PHASE",
    body: "Client signs up, decides package → Chooses plan + fills out onboarding form: Growing pup or rising carnivore",
  },
  {
    title: "2. DISCOVERY (creative) PHASE",
    body: "This is where I take the layout and change the code to create a look (css) that fits your business, personality, goals...     sitemap, wireframe site--> mockup first draft--> mockup revised, final draft",
  },
  {
    title: "3. DEVELOPMENT PHASE ",
    body: "set up vercel temp--> convert mockups into code--> go over temp with client --> final revisions. ",
  },
  {
    title: "4. LAUNCH PHASE",
    body: "final review and Q&A--> move local website to live server,hosting,client training--> final payment. set up vercel temp--> convert mockups into code--> go over temp with client --> final revisions",
  },
];
---

<div id="how-it-works" class="mt-[90px] p- bg-">
  <div id="4-sq-grid" class="">
    <div class="pt-3 pb-2">
      <h2 class="pl-1 text-2xl underline">How it Works</h2>
      <!-- <p class="text-3xl pt-1">
        This is a step-by-step process on how Laughing Coyote Dev works.
      </p> -->
      <!--  see how I work- to web-development page /web design packages  -->
    </div>
    <!-- TODO: GIVE STEP- BY-STEP GUIDE FROM START TO FINISH, keep in simple to give your client an easy map of how things work form first intereaction with you to end result-->

    <DynamicGrid items={items4} columns={4} />
  </div>
</div>
