---
import CenterPageBanner from "../../shared/CenterPageBanner.astro";

import HowItWorks from "./HowItWorks.astro";
import WhatsIncluded from "./WhatsIncluded.astro";
---

<div id="AboutBlock" class="bg-">
  <div id="web-development" class="">
    <CenterPageBanner
      BannerTitle="Web Development"
      BannerParagraph="Below is the new WhatsIncluded section"
    />
  </div>
  <WhatsIncluded />
  <HowItWorks />
</div>
