---
import Image from "astro/components/Image.astro";
import creativeProjectAbout from "../../shared/creativeProjectAbout.astro";
import CenterPageBanner from "../../shared/CenterPageBanner.astro";

import HowItWorks from "./HowItWorks.astro";
import WhatsIncluded from "./WhatsIncluded.astro";
import TestImg from "../../../images/aboutComputer.jpg";
import TestImg2 from "../../../images/self2.jpg";
---

<div id="AboutBlock" class="bg-papaya border-y-2 border-websiteFocus">
  <!-- <div id="web-development" class="">
    <CenterPageBanner
      BannerTitle="Work Process"
      BannerParagraph="How we go from stuck to something you’re proud to share?"
    />
  </div> -->
  <div id="about-me-blurb">
    <!-- ### vibe: BE Honest + Relatable -->

    <!-- <creativeProjectAbout
      title="About me blurb"
      paragraph1="For a long time, I thought of myself mostly as a builder—someone who made things work. But living in Joshua Tree, surrounded by wide skies, strange plants, and creative people, something shifted. I started to see the web not just as a tool, but as a canvas."
      paragraph2="I’ve been learning how to be more creative—not just with code, but with how I think, feel, and design. I pay more attention now: to shape and space, to rhythm and flow, to how a site feels when you land on it. I study how artists express themselves, how stories are told visually, and how to make websites feel more like places than pages. "
      paragraph3="It’s a process, and I’m still growing—but that curiosity has become a core part of my work. I build with intention. I design with feeling."
      paragraph4=" And I try to leave room for a little bit of wonder in everything I make."
      img="https://dl.dropboxusercontent.com/scl/fi/phq735ow5p9eqhrbfemme/eh-img.jpg?rlkey=cc6j3utq3lh9fayc1pbais1pe&st=hany5azk&dl=0"
    /> -->
  </div>
  <HowItWorks />
  <!-- <WhatsIncluded /> -->

  <!-- *NEW CONTENT 4 v-->
  Local businesses want fast, on-brand sites. Templates save them 50–70% in cost.

  <!-- *NEW CONTENT 5 v-->
  I don’t just sell “Palm Springs templates,” I sell “websites for desert-style businesses.”
  That framing changes everything. I'm a designer who builds desert/lifestyle aesthetic
  sites.

  <!-- *NEW CONTENT 8 v-->
  Elevated + Strategic California-inspired web design for modern brands. Web design
  shaped by California’s light, color, and architecture. Design-forward websites rooted
  in California modernism. Distinct web experiences inspired by California landscapes.
  Design-led websites influenced by California architecture and color. If you want
  to lean into location credibility You can reference a specific place like Palm Springs
  indirectly in your portfolio case studies, not necessarily your main tagline.

  <!-- TODO: NEW PICTURE GRID V-->

  <div id="wrapper" class="bg- flex justify-center pt-5 mt-5">
    <div id="container" class="mt-5 pt-5 w-3/4 max-w-7xl">
      <div id="grid" class="grid grid-cols-3 gap-5">
        <div id="sq1" class="bg- col-span-1">
          <Image
            src={TestImg2}
            alt=""
            class="h- border-black border-r mt-5 sq-styles"
          />
        </div>
        <div id="sq2" class="bg- col-span-2">
          <div class="mb-5 p-5">
            <h2 class="text-4xl">About</h2>
            <!-- * NEW CONTENT 1  v-->
            <p>
              “designer specializing in retro-modern desert minimal web
              experiences”
            </p>

            <!-- * NEW CONTENT 2 v-->
            <p>
              But the real opportunity isn’t the aesthetic alone — it’s who
              needs that aesthetic.
            </p>

            <!-- OG CONTENT  v-->

            <p class="">
              For a long time, I thought of myself mostly as a builder—someone
              who made things work. But living in Joshua Tree, surrounded by
              wide skies, strange plants, and creative people, something
              shifted. I started to see the web not just as a tool, but as a
              canvas.
            </p>
            <br />
            <p>
              I’ve been learning how to be more creative—not just with code, but
              with how I think, feel, and design. I pay more attention now: to
              shape and space, to rhythm and flow, to how a site feels when you
              land on it. I study how artists express themselves, how stories
              are told visually, and how to make websites feel more like places
              than pages.
            </p>
          </div>
          <Image src={TestImg} alt="" class="sq-styles" />
          <div class="mt-1 ml-1 mb-[55px] bg-">
            <!-- <p>
              It’s a process, and I’m still growing—but that curiosity has
              become a core part of my work. I build with intention. I design
              with feeling.
            </p>
            <p>
              And I try to leave room for a little bit of wonder in everything I
              make.
            </p> -->

            <!-- TODO: Lean Into Your Desert Identity (Signature Niche) V-->
            <!--  * 🔥 Strong Positioning Tagline Styles, Clear + Confident (Best for freelance clients) These are simple and effective. -->
            <!-- ? POTENTIAL TAGLINESv-->
            <!-- 1.  Design-forward websites for bold, modern brands. 
              2.Strategic web design with personality. 
              3. Art-directed web design for creative businesses.  
              4. Retro-modern web design with warmth and edge, desert-inspired design. 
              5. Websites that turn desert personality into presence.
              6.  Elevated websites for growing brands. Standout design for brands ready to be taken seriously.
              7.  Boutique web design with distinct art direction.
              8. Art-directed web design with warmth and structure. 
              9. Modern web design with personality and purpose. 
              10. Web design shaped by California’s light, color, and architecture.
              11. Distinct web experiences inspired by CaliforniaN DESERT landscapes.  -->
            <!-- ? ^-->
            <div id="new-cta-container" class="text-lg">
              <h3>
                🎯 I focus on boutique web design with distinct art direction.
                Even for people not located in the desert, buyers include:
              </h3>
              <br />
              <ul>
                <li>Creative professionals</li>
                <li>designers</li>
                <li>photographers</li>
                <li>artists</li>
                <li>web developers</li>
                <li>copywriters</li>
                <li>agencies</li>
                <li>personal brands</li>
                <li>those who want a distinctive visual identity</li>
              </ul>
            </div>
            <!-- TODO: ^^^ ^-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TODO: NEW PICTURE GRID ^-->
</div>
