---
import CenterPageBanner from "../../shared/CenterPageBanner.astro";
import Gallery from "./Gallery.astro";
import HowItWorks from "./HowItWorks.astro";
import RoofTestimonial from "./RoofTestimonial.astro";
import RQTestimonial from "./RQTestimonial.astro";
---

<section id="about-block">
  <div id="web-development">
    <CenterPageBanner BannerTitle="Web Development" />
    <Gallery />
    <RoofTestimonial />
    <HowItWorks />
    <RQTestimonial />
  </div>
</section>
