---
import AboutContent from "../../shared/AboutContent.astro";
---

<div id="web-dev-intro2" class="px-4 mx-3">
  <div id="roof">
    <AboutContent
      title="Testimonial "
      paragraph1="HoveyRoofing"
      paragraph2=" 'Laughing Coyote Dev is really great! Elsa Hovey is super awesome with web designing!'"
      paragraph3=""
      paragraph4=""
      img="https://dl.dropboxusercontent.com/scl/fi/2qjwjdw2djppjpcqnbqkv/hovroof1.jpg?rlkey=04pj0osakfmuzs8uy1hybmk0z&st=363oyc0d&dl=0"
    />
  </div>
</div>
