---
import creativeProjectAbout from "../../shared/creativeProjectAbout.astro";
---

<div class="bg- mt-[50px] px-5 flex justify-center">
  <div id="rq" class="mx-[50px]">
    <creativeProjectAbout
      title="Running Quail- testimonial"
      paragraph1="onboarding- elaborate Lorem, ipsum dolor sit amet conse  accusamus natus porro rem ipsa perferendis laudantium."
      paragraph2="discovery- elaborate/"
      paragraph3="d ferendis laudantium."
      paragraph4="launch- elaborate"
      img="https://images.pexels.com/photos/3585001/pexels-photo-3585001.jpeg?_gl=1*sm8kor*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzQxMzczNTMkbzQyJGcxJHQxNzc0MTM3MzY4JGo0NSRsMCRoMA.."
    ></creativeProjectAbout>
  </div>
</div>
