---
import AboutContent from "../../shared/AboutContent.astro";
import TestImg from "../images/rq-testimonial.png";
---

<div class="bg-test1 mt-[50px] px-5 flex justify-center">
  <div id="rq" class="">
    <AboutContent
      title="RQ- testimonial"
      paragraph="onboarding- elaborate Lorem, ipsum dolor sit amet conse  accusamus natus porro rem ipsa perferendis laudantium."
      img="https://dl.dropboxusercontent.com/scl/fi/dc55gglvqycfgqhcmo1ys/rq-testimonial.png?rlkey=g77kjkpmoqo74o6c2akschrz6&st=rbdz8e78&dl=0"
    />
  </div>
</div>
