---
import AboutContent from "../../shared/AboutContent.astro";
---

<!-- “I use a lot of awesome web design building things together… all in beautiful creative layouts!”- (rewrite) --><!--  --><!--  --><!--  --><!-- TODO: TURN TEAL IMGS INTO IMGS/ EXAMPLES --><!-- HOW LC HELPS BRING YOUR BUSINESS ONLINE -->
<section id="whats-included" class="bg-">
  <div id="web-dev-intro1" class="bg-">
    <AboutContent
      title="Whats Included-Decide what you actually want to be hired for"
      paragraph1="Pick 1 to 2 primary offers and make everything point to them.vvv"
      paragraph2="Specialize your messaging (not your skills)-Good positioning examples: Websites for small businesses who hate tech"
      paragraph3="Gentle, fast websites for creatives"
      paragraph4="'Simple sites for local businesses that just need to work'. AVOID Bad positioning:  'Full-stack developer' ,'I build anything' ,'Modern solutions' .Specific = memorable = hireable.^^^"
      img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
    />
  </div>
  <!-- <div id="web-dev-intro1" class="bg-">
    <AboutContent
      title="Turn Laughing Coyote Dev into a studio, not a solo coder"
      paragraph1="This is subtle but powerful. Even if it’s just you, position it like: 'A small, independent web design studio focused on warm, human-centered websites."
      paragraph2="Why it matters: Studios feel safer than freelancers, You can charge more...- It leaves room to subcontract later"
      paragraph3="Your site should emphasize: Process, Outcomes, Calm, competence"
      paragraph4="Not: Framework lists,Tool flexing, and 'I love coding' energy."
      img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
    />
  </div> -->
</section>
