---
import CenterPageBanner from "../../shared/CenterPageBanner.astro";
import ProjectTemplates from "./ProjectTemplates.astro";
import RoofTestimonial from "../aboutBlock/RoofTestimonial.astro";
import RQTestimonial from "../aboutBlock/RQTestimonial.astro";
import CreateTempGallery from "../../CreateTempGallery";
---

<div id="SalesBlock" class="bg-papaya border border-black pb-5 mb-5">
  <CreateTempGallery />
  <!-- <Gallery /> -->

  <div id="project-templates" class="bg-">
    <CenterPageBanner
      BannerTitle="Template Packages"
      BannerParagraph="Simple, structured options to get your site live "
    />

    <ProjectTemplates />
  </div>
</div>
