---
import NavItems from "./NavItems.astro";
---

<header class="bg-parchment border-black border-b">
  <div class="mx-auto flex items-end px-4 py-4 bg- w-full">
    <!-- Logo v-->
    <a href="/" class="flex-none font-semibold tracking-tight text-lg">
      <div id="logo" class="text-4xl pb-1 mr-5 opacity-90 bg-">
        <a href="/">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/xzfhk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=run4yzui&dl=0"
            alt=""
            width="145px"
            height="145px"
            class="-scale-x-100"
          />
        </a>
      </div>
    </a>
    <!-- Nav v-->
    <NavItems />
  </div>
</header>
