---
const items = [
  {
    icon: "start here",
    link: "/#start-here ",
  },
  {
    icon: "creative works",
    link: "/creative-works",
  },
  {
    icon: "web development",
    link: "/web-development",
  },

  {
    icon: "contact",
    link: "/contact ",
  },
];
---

<ul
  id="w"
  class="text-carribean opacity-80 md:pr-5 md:mr-5 lg:pb-5 pr-2 h-full"
>
  {
    items.map((item) => (
      <a href={item.link}>
        <li class="md:text-xl text-sm font-semibold px-2 bg- hover:text-[#a3b18a]">
          {item.icon}
        </li>
      </a>
    ))
  }
</ul>
