---
const items = [
  {
    icon: "start here",
    link: "/#web-development ",
  },
  {
    icon: "web development",
    link: "/#creative-templates",
  },
  {
    icon: "creative projects",
    link: "/#writing",
  },

  {
    icon: "contact",
    link: "/#contact ",
  },
];
---

<ul
  id="nav-items"
  class="text-carribean opacity-80 md:pr-5 md:mr-5 lg:pb-5 pr-2 h-full"
>
  {
    items.map((item) => (
      <a href={item.link}>
        <li class="md:text-xl font-semibold px-2 hover:text-[#a3b18a]">
          {item.icon}
        </li>
      </a>
    ))
  }
</ul>
