---
const currentPath = Astro.url.pathname;

const navLinks = [
  { label: "web development", href: "/#web-development", show: true },
  { label: "creative works", href: "/#creative-works", show: true },
  { label: "project templates", href: "/#project-templates", show: true },
  { label: "contact", href: "/#contact", show: true },
];
---

<nav
  aria-label="Main navigation"
  class="bg- flex-auto 2xl:flex-row flex-col bg-"
>
  <ul
    id="nav-items"
    class="bg- flex 2xl:flex-row flex-col justify-end 2xl:gap-2"
  >
    {
      navLinks
        .filter((link) => link.show)
        .map((link) => (
          <li class="bg- flex justify-end">
            <a
              href={link.href}
              class:list={[
                "rounded-full px-5 2xl:py-0 py-1 transition",
                currentPath === link.href
                  ? "text-black underline text-2xl"
                  : "text-carribean text-lg",
              ]}
            >
              {link.label}
            </a>
          </li>
        ))
    }
  </ul>
</nav>
