---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script
      src="https://kit.fontawesome.com/f75d956e91.js"
      crossorigin="anonymous"></script>
    <title>The Growing Pup | part of Laughing Coyote Dev</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <Header />
  <body id="" class="flex justify-center mt-5">
    <div class="2xl:px-5 2xl:mx-[150px]">
      <div id="justify-center-MOVE TO LAYOUT" class="flex justify-center">
        <div id="test-pink-container" class="bg- 2xl:px-[90px] px-3 max-">
          <slot />
        </div>
      </div>
    </div>
  </body>
  <Footer />

</html>
