---
import MainLayout from "./MainLayout.astro";
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
---

<MainLayout>
  <div id="left-side" class="bg- w-1/5">
    <Header />
  </div>
  <div id="right-side-wrapper" class="w-4/5">
    <div
      id="right-side-container"
      class="px-5 mr-5 w-[1400px] absolute top-0 right-0"
    >
      <div id="markdown-post" class="bg- text-lg p-5">
        <section class="bg-">
          <div id="flex" class="mt-5 2xl:p-5 dropshadow-3xl">
            <div
              class="font-semibold opacity-80 text- black ml-[120px] pb-5 pl-5"
            >
              <h2 class="text-4xl">
                {frontmatter.title}
              </h2>
              <p class="mr-[120px] pt-1 opacity-80 text-lg">
                {frontmatter.aboutProject}
              </p>
            </div>
            <a href={frontmatter.websiteUrl}>
              <img
                src={frontmatter.image.url}
                alt=""
                class="drop-shadow-md border border-gray-300 rounded mt-3 m-[m-50px]"
              />
            </a>
          </div>

          <div
            id="content-wrapper"
            class="bg- text- black opacity-80 text-lg mx-[150px]"
          >
            <slot />
          </div>
        </section>
      </div>
    </div>
  </div>
</MainLayout>
