---
import MainLayout from "./MainLayout.astro";
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
---

<MainLayout>
  <div id="right-side-wrapper" class="flex justify-center">
    <div id="markdown-post" class="bg- w-3/4 mt-5 pt-5 text-lg p-">
      <div class="my-5 pb-5 font-semibold opacity-80 text-onyx">
        <h2 class="text-4xl">
          {frontmatter.title}
        </h2>
        <p class="opacity-80 text-lg">
          {frontmatter.testItem1}
        </p>
      </div>

      <slot />
    </div>
  </div>
</MainLayout>
