---
import CenterPageBanner from "../../shared/CenterPageBanner.astro";
import Gallery from "../aboutBlock/Gallery.astro";
import RoofTestimonial from "../aboutBlock/RoofTestimonial.astro";
import RQTestimonial from "../aboutBlock/RQTestimonial.astro";
import ProjectTemplates from "../salesPtBlock/ProjectTemplates.astro";
---

<div id="SalesBlock" class="bg-papaya border border-black">
  <!-- <Gallery /> -->
  <RoofTestimonial />
  <RQTestimonial />
  <div id="project-templates" class="bg-">
    <CenterPageBanner BannerTitle="Template Packages" BannerParagraph="Here " />
    <ProjectTemplates />
  </div>
</div>
