---
import CenterPageBanner from "../../shared/CenterPageBanner.astro";
import Gallery from "../aboutBlock/Gallery.astro";
import RoofTestimonial from "../aboutBlock/RoofTestimonial.astro";
import RQTestimonial from "../aboutBlock/RQTestimonial.astro";
import ProjectTemplates from "../salesPtBlock/ProjectTemplates.astro";
---

<section id="salesPoint-block" class="lg:px-5 mt-5">
  <RoofTestimonial />
  <Gallery />
  <RQTestimonial />

  <div id="project-templates" class="">
    <CenterPageBanner BannerTitle="Template Packages" BannerParagraph="Here " />
    <!-- <h3>REMINDER: about LC and why we can help</h3>
    <ul>
      <li>
        Personal sites for BUSINESS creatives** (artists, makers, therapists,
        writers)
      </li>
      <li>Websites for small businesses who hate tech</li>
      <li>Simple sites for local businesses that just need to work</li>
      <li>Coyotes are scrappy, clever, resourceful. Lean into tha</li>
      <li>
        Laughing Coyote Dev” is **not** a generic dev name. It has personality,
        warmth, and a bit of mischief. That gives you permission to build things
        that feel human, friendly, and slightly unconventional — without losing
        professionalism.
      </li>
    </ul> -->
    <ProjectTemplates />
  </div>
</section>
